.movie-module {
  .search-bar {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .movie-list {
    display: flex;
    flex-direction: column;
    .movie-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid #a59b9b;
      margin-bottom: 10px;
      border-radius: 5px;
      border-color: #b3b3b3;
      &:hover {
        background-color: #9bd0ff;
      }
      .alg-left {
        text-align: left;
      }
      .mrg-left {
        margin-left: 20px;
      }
      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}